
*{
    background-color: black;
}
img{
    height: 400px;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    border: solid white 5px

}
#quote{
    font-size: x-large;
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    
}